:root {
    --base-font-size: 1rem;
    --base-text-color: black;
    --base-text-color-invert: white;
    --color-primary: blue;
    --color-primary-accent: darkblue;
    --color-success: green;
    --color-success-accent: darkgreen;
    --color-danger: red;
    --color-danger-accent: darkred;
    --color-warning: yellow;
    --color-warning-accnet: darkorange;
    --transition-duration: .3s;
    --container-width: 1200px;
}
/*********************** Rest *************************/
html {
    all: unset;
    box-sizing: border-box;
}
/***************** BASE **********************************/
html, body {
    height: 100%;
}
.wrapper {
    display: table;
    width: 100%;
    height: 100%;
}
.content {
    display: table-row;
    height: 100%;
}
body {
    font-size: var(--base-font-size);
    color: var(--base-text-color);
    margin: 0;
}
.site-container {
    margin: 0 auto;
    max-width: var(--container-width);
}
.img-responsive {
    max-width: 100%;
}
.d-none {
    display: none;
}
.d-flex {
    display: flex;
}
.justify-content-between {
    justify-content: space-between;
}
.justify-content-center {
    justify-content: center;
}
.align-items-center {
    align-items: center;
}
.px-1 {
    padding: 0 .5rem;
}
.mx-1 {
    margin: 0 .5rem;
}
/* TEXT */
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.text-center {
    text-align: center;
}
.text-justify {
    text-align: justify;
}
.text-primary {
    color: var(--color-primary);
}
.text-success {
    color: var(--color-success);
}
.text-danger {
    color: var(--color-danger)
}
.text-waring {
    color: var(--color-warning)
}
/*###############-HEADER-#################*/
#header {
    background-color: var(--color-danger-accent);
}
.nav-link {
    text-decoration: none;
    color: var(--base-text-color-invert);
    padding: 10px;
}
.nav-link:hover {
    text-decoration: underline;
}
.logo-wrapper {
    display: inline-block;
}
.logo {
    width: 60px;
}
/*****************  Footer **********************/
#footer {
    background-color: var(--color-success);
    color: var(--base-text-color-invert);
}
.footer-content {
    padding: 2rem 0;
}
/***************** Buttons *******************/
.btn {
    display: inline-block;
    border-radius: 4px;
    text-decoration: none;
    transition: all var(--transition-duration);
    color: white;
    padding: 10px 15px;
    cursor: pointer;
}
.btn[disabled] {
    cursor: not-allowed;
}

.btn-primary {
    background-color: var(--color-primary);
    border-color: var(--color-primary);
}
.btn-primary:hover {
    background-color: var(--color-primary-accent);
    border-color: var(--color-primary-accent);
}
.btn-success {
    background-color: var(--color-success);
    border-color: var(--color-success);
}
.btn-success:hover {
    background-color: var(--color-success-accent);
    border-color: var(--color-success-accent);
}
.btn-warning {
    background-color: var(--color-warning);
    border-color: var(--color-warning-accnet);
}
.btn-warning:hover {
    background-color: var(--color-warning-accnet);
    border-color: var(--color-warning-accnet);
}
.btn-danger {
    background-color: var(--color-danger);
    border-color: var(--color-danger);
}
.btn-danger:hover {
    background-color: var(--color-danger-accent);
    border-color: var(--color-danger-accent);
}

/* Jumbo */
.jumbotron {
    padding: 2rem;
    background-color: wheat;
}
/* Forms */
.form {
    max-width: 300px;
    margin: auto;
}
.form-group {
    display: flex;
    flex-flow: column;
    margin-bottom: 20px;
}
.form-control {

}

.loggedIn .hide-loggedIn,
.seller .hide-seller,
.buyer .hide-buyer {
    display: none;
}

.loggedIn .show-loggedIn,
.seller .show-seller,
.buyer .show-buyer {
    display: block;
}

.loggedIn .nav-link.guest,
.nav-link.seller,
.nav-link.buyer{
    display: none;
}

.loggedIn.seller .nav-link.seller,
.loggedIn.buyer .nav-link.buyer {
    display: inline-block;
}

#catalog {
    padding: 30px 0;
}


.card {
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 0 3px rgba(0,0,0, .3);
    background: #fff;
    transition: .3s all;
}

.card:hover {
    box-shadow: 0 0 10px rgba(0,0,0, .7);
}

.row, .loggedIn .row.show-loggedIn {
    display: flex;
}

.col-4 {
    flex-basis: 24%;
}

.buyer #edit_product .form-control {
    pointer-events: none;
    background: #cccccc;
}

#cart-counter {
    border-radius: 50%;
    background-color: var(--color-success);
    width: 17px;
    height: 17px;
    margin-left: 5px;
    display: inline-block;
    text-align: center;
}
.cart {
    display: inline-flex !important;
}

.cart-table {
    margin: auto;
    border-collapse: collapse;
}
.cart-table td, .cart-table th {
    border: 1px solid #000;
}